# Gui config file
# 
# Default startup ID's
BLUE_COVERS = 1
BLUE_ENABLE = 1
BLUE_ROBOTS = 0, 1, 2, 3, 5

YELLOW_ENABLE = 1
YELLOW_COVERS = 0
YELLOW_ROBOTS = 0, 1, 2, 3, 4

# length of nr of chars displayed in strategy debug box
STRATEGY_DISPLAY_LENGTH = 4096
# frame window for stats
#STATS_WINDOW = 10.0

# vision confidence for stats class
STATS_VISION_CONF = 0.1

